rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /mini_links/{document} {
      allow read: if request.auth == null;

      allow write: if request.auth == null
        && request.resource.data.timestamp is timestamp
        && request.resource.data.mini_link is string
        && request.resource.data.userid is string
        && request.resource.data.normal_link is string;
    }
  }
}